input {
  cursor: pointer;
}

body {
  font-family: 'Be Vietnam', sans-serif;
}

@keyframes fadeIn {
  0% {
    transform: translate(0px, -150px);
    opacity: 0;
  }
  50% {
    transform: translate(0px, 30px);
    opacity: 0.65;
    font-weight: 400;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
    font-weight: 500;
  }
}

.quizz-section {
  background-color: #3943b7;
}

.main-title {
  animation: fadeIn 3s ease !important;
  -webkit-animation: fadeIn 3s ease !important; /* Safari 4+ */
  -moz-animation: fadeIn 3s ease !important; /* Fx 5+ */
  -o-animation: fadeIn 3s ease !important; /* Opera 12+ */
  font-family: 'Lato', sans-serif;
  color: #3943b7;
}

.very-bad-score {
  color: #bc2c1a;
}

.bad-score {
  color: #fca311;
}

.correct-score {
  color: green !important;
}

.good-score {
  color: greenyellow !important;
}
